# 1. Set the variable test1 to the string &#39;This is a test of the emergency text system,&#39; and save test1 to a file named test.txt.

In [2]:
test1 = 'This is a test of the emergency text system,'

with open('test.txt', 'w') as file:
    file.write(test1)

# 2. Read the contents of the file test.txt into the variable test2. Is there a difference between test 1 and test 2?

In [3]:
with open('test.txt', 'r') as file:
    test2 = file.read()

# 3. Create a CSV file called books.csv by using these lines:title,author,year The Weirdstone of Brisingamen,Alan Garner,1960 Perdido Street Station,China Miéville,2000 Thud!,Terry Pratchett,2005 The Spellman Files,Lisa Lutz,2007 Small Gods,Terry Pratchett,1992

In [4]:
import csv

books = [    ['title', 'author', 'year'],
    ['The Weirdstone of Brisingamen', 'Alan Garner', '1960'],
    ['Perdido Street Station', 'China Miéville', '2000'],
    ['Thud!', 'Terry Pratchett', '2005'],
    ['The Spellman Files', 'Lisa Lutz', '2007'],
    ['Small Gods', 'Terry Pratchett', '1992']
]

with open('books.csv', 'w', newline='') as file:
    writer = csv.writer(file)
    writer.writerows(books)

In [5]:
books

[['title', 'author', 'year'],
 ['The Weirdstone of Brisingamen', 'Alan Garner', '1960'],
 ['Perdido Street Station', 'China Miéville', '2000'],
 ['Thud!', 'Terry Pratchett', '2005'],
 ['The Spellman Files', 'Lisa Lutz', '2007'],
 ['Small Gods', 'Terry Pratchett', '1992']]

# 4. Use the sqlite3 module to create a SQLite database called books.db, and a table called books with these fields: title (text), author (text), and year (integer).

In [6]:
import sqlite3

# Create a connection to the database
conn = sqlite3.connect('books.db')

# Create a cursor object to execute SQL commands
c = conn.cursor()

# Execute a CREATE TABLE command to create the books table
c.execute('''CREATE TABLE books
             (title TEXT, author TEXT, year INTEGER)''')

# Commit the changes and close the connection
conn.commit()
conn.close()

# 5. Read books.csv and insert its data into the book table.

In [ ]:
import sqlite3
import csv

# Open a connection to the database
conn = sqlite3.connect('books.db')

# Create a cursor object to execute SQL commands
c = conn.cursor()

# Read the data from the CSV file and insert it into the books table
with open('books.csv', 'r') as file:
    reader = csv.reader(file)
    next(reader) # skip the header row
    for row in reader:
        c.execute("INSERT INTO books (title, author, year) VALUES (?, ?, ?)", row)

# Commit the changes and close the connection
conn.commit()
conn.close()

# 6. Select and print the title column from the book table in alphabetical order.

In [7]:
import sqlite3

# Open a connection to the database
conn = sqlite3.connect('books.db')

# Create a cursor object to execute SQL commands
c = conn.cursor()

# Select the title column from the books table and order by title in alphabetical order
c.execute("SELECT title FROM books ORDER BY title")

# Fetch all the rows and print the title column
rows = c.fetchall()
for row in rows:
    print(row[0])

# Close the connection
conn.close()

# 7. From the book table, select and print all columns in the order of publication.

In [ ]:
import sqlite3

# connect to the database
conn = sqlite3.connect("books.db")

# create a cursor object
cur = conn.cursor()

# select and print all columns in order of publication
cur.execute("SELECT * FROM books ORDER BY year ASC")
rows = cur.fetchall()
for row in rows:
    print(row)

# close the connection
conn.close()

# 8. Use the sqlalchemy module to connect to the sqlite3 database books.db that you just made in exercise 6.

In [ ]:
from sqlalchemy import create_engine

# create a database engine
engine = create_engine('sqlite:///books.db', echo=True)

# connect to the database
connection = engine.connect()

# execute a test query
result = connection.execute("SELECT * FROM books")
for row in result:
    print(row)

# close the connection
connection.close()

# 9. Increment the count field of test and print it.

In [ ]:
import redis

# Connect to Redis
r = redis.Redis()

# Increment count field by 1
r.hincrby('test', 'count', 1)

# Get the updated count value and print it
count = r.hget('test', 'count').decode('utf-8')
print(f"Count: {count}")